* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.menu-button {
    display: none;
}

.nav {
    background-color: rgb(35, 35, 35);
    float: left;
    width: 20vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1.5rem;
    position: fixed;
    left: 0;
}

.nav ul {
    list-style-type: none;
}

.nav button {
    text-decoration: none;
    padding: 0.7rem;
    margin: 2rem auto;
    border: none;
    background-color: transparent;
    font-weight: 700;
    color:rgb(174, 174, 174);
}

.nav button:hover {
    cursor: pointer;
    color: rgb(99, 99, 99);
}


/** CONTENT **/
.content {
    background-color: rgb(174, 174, 174);
    width: 80vw;
    height: 100vh;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    text-align: center;
}

.content h2, .content h3 {
    font-size: 1rem;
}

.main-container {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .profile-pic {
    width: 7rem;
    height: 7rem;
    margin: 0 2rem;
}

.content img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.contact-page {
    display: none;
    background-color: rgb(69, 25, 140);
    width: 80vw;
    height: 100vh;
    float: right;
}

.project-page {
    display: none;
    background-color: rgb(21, 0, 254);
    width: 80vw;
    height: 100vh;
    float: right;
}

@media screen and (max-width: 700px) {

    .menu-button {
        display: flex;
        z-index: 99;
        width: 75px;
        height: 75px;
        border-radius: 50%;
        position: absolute;
        background-color: blueviolet;
        bottom: 1.625rem;
        left: 1.625rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .menu-button .bar {
        width: 2.125rem;
        height: 0.425rem;
        border-radius: 0.125rem;
        margin: 0.225rem auto;
        background-color: #FFF;
    }

    .nav {
        display: flex;
        z-index: 10;
        width: 100%;
    }

    .content, .project-page, .contact-page {
        width: 100%;
        padding: 0 1rem;
    }

    .content {
        flex-direction: column;
    }

    .content .profile-pic {
        margin-bottom: 3rem;
    }
}