* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.menu-button {
    display: none;
}

.nav {
    background-color: rgb(35, 35, 35);
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    position: fixed;
    top: 0;
    z-index: 99;
}

.nav ul {
    list-style-type: none;
}

.nav li {
    display: inline;
    margin: 0 2rem;
}

.nav a {
    text-decoration: none;
    background-color: transparent;
    font-weight: 600;
    color:rgb(174, 174, 174);
}

.nav a:hover {
    cursor: pointer;
    color: rgb(99, 99, 99);
}


/** CONTENT **/
.content {
    background-image: url('../IMAGES/dallas-skyline.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 30rem;
    position: relative;
    padding: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
}

.content::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.75);
}

.about-me-info {
    position: relative;
    float: right;
    color: #FFF;
    text-align: left;
    max-width: 30rem;
}

.about-me-info h2 {
    font-size: 1.5rem;
    font-weight: 300;
}

.about-me-info p {
    font-size: 1.125rem;
}

.content img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.project-page {
    background-color: rgb(99, 99, 99);
    width: 100%;
    height: 10rem;
}

.contact-page {
    background-color: rgb(35, 35, 35);
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social {
    width: 30%;
    display: flex;
    justify-content: center;
}

.social img {
    margin: 0 2em;
    width: 2.25em;
}

@media screen and (max-width: 500px) {

    .menu-button {
        display: flex;
        width: 100%;
        height: 4rem;
        background-color: rgb(35, 35, 35);
        color: rgb(99, 99, 99);
        justify-content: center;
        align-items: center;
    }

    .nav {
        height: auto;
        display: none;
        text-align: center;
        top: 3rem;
    }

    .nav li {
        display: block;
        margin: 3rem;
    }
}